<ion-header>
    <div class="titulo-header">
    <h1>Asistencia</h1>
  </div>
  <div class="cerrar-sesion">
    <img src="assets/img/logout.png" (click)="logout()">
  </div>
  
  </ion-header>
<ion-content>
  <div id="contenido-asistencia">
  <div id="aspect-content">
    <h2>Cursos</h2>
    <div class="aspect-tab ">
      <input id="item-1" type="checkbox" class="aspect-input" name="aspect">
      <label for="item-1" class="aspect-label"></label>
      <div class="aspect-content">
          <div class="aspect-info">
              <div class="chart-pie positive over50">
                  <span class="chart-pie-count">100%</span>
                  <div>
                      <div class="first-fill"></div>
                      <div class="second-fill" style="transform: rotate(249deg)"></div>
                  </div>
              </div>
              <span class="aspect-name">ASY4131-006D<br>Arquitectura </span>
          </div>
         
      </div>
      <div class="aspect-tab-content">
          <div class="sentiment-wrapper">
              <div>
                  <div>
                      <div class=" opinion-header">
                          <span>Nº de Clases Registradas 8 <br>Asistencia 8</span>
                         
                      </div>
                      
                  </div>
              </div>            
             
          </div>
      </div>
    </div><!---cierre tab 1-->

    <div class="aspect-tab ">
      <input id="item-2" type="checkbox" class="aspect-input" name="aspect">
      <label for="item-2" class="aspect-label"></label>
      <div class="aspect-content">
          <div class="aspect-info">
              <div class="chart-pie negative over50">
                  <span class="chart-pie-count">60%</span>
                  <div>
                      <div class="first-fill"></div>
                      <div class="second-fill" style="transform: rotate(249deg)"></div>
                  </div>
              </div>
              <span class="aspect-name">CSY4111-005D <br>Calidad De Software </span>
          </div>
         
      </div>
      <div class="aspect-tab-content">
          <div class="sentiment-wrapper">
              <div>
                  <div>
                      <div class=" opinion-header">
                          <span>Nº de Clases Registradas 8 <br>Asistencia 4</span>
                          
                      </div>
                      
                  </div>
              </div>            
             
          </div>
      </div>
    </div><!---cierre tab 2-->

    <div class="aspect-tab ">
      <input id="item-3" type="checkbox" class="aspect-input" name="aspect">
      <label for="item-3" class="aspect-label"></label>
      <div class="aspect-content">
          <div class="aspect-info">
              <div class="chart-pie positive over50">
                  <span class="chart-pie-count">80%</span>
                  <div>
                      <div class="first-fill"></div>
                      <div class="second-fill" style="transform: rotate(249deg)"></div>
                  </div>
              </div>
              <span class="aspect-name">PGY4121-007D <br>Programación De Aplicaciones Móviles 	 </span>
          </div>
         
      </div>
      <div class="aspect-tab-content">
          <div class="sentiment-wrapper">
              <div>
                  <div>
                      <div class=" opinion-header">
                          <span>Nº de Clases Registradas 10<br> Asistencia 8</span>
                      
                      </div>
                      
                  </div>
              </div>            
             
          </div>
      </div>
    </div><!---cierre tab 3-->

    <div class="aspect-tab ">
      <input id="item-4" type="checkbox" class="aspect-input" name="aspect">
      <label for="item-4" class="aspect-label"></label>
      <div class="aspect-content">
          <div class="aspect-info">
              <div class="chart-pie positive over50">
                  <span class="chart-pie-count">90%</span>
                  <div>
                      <div class="first-fill"></div>
                      <div class="second-fill" style="transform: rotate(249deg)"></div>
                  </div>
              </div>
              <span class="aspect-name">MAT4140-009D<br>Estadística Descriptiva </span>
          </div>
         
      </div>
      <div class="aspect-tab-content">
          <div class="sentiment-wrapper">
              <div>
                  <div>
                      <div class=" opinion-header">
                          <span>Nº de Clases Registradas 8 <br>Asistencia 7</span>
                          
                      </div>
                      
                  </div>
              </div>            
             
          </div>
      </div>
    </div><!---cierre tab 4-->

    <div class="aspect-tab ">
      <input id="item-5" type="checkbox" class="aspect-input" name="aspect">
      <label for="item-5" class="aspect-label"></label>
      <div class="aspect-content">
          <div class="aspect-info">
              <div class="chart-pie positive over50">
                  <span class="chart-pie-count">100%</span>
                  <div>
                      <div class="first-fill"></div>
                      <div class="second-fill" style="transform: rotate(249deg)"></div>
                  </div>
              </div>
              <span class="aspect-name">PY41447-001D <br>Proceso De Portafolio Final </span>
          </div>
         
      </div>
      <div class="aspect-tab-content">
          <div class="sentiment-wrapper">
              <div>
                  <div>
                      <div class=" opinion-header">
                          <span>Nº de Clases Registradas 1 <br> Asistencia 1</span>
                         
                      </div>
                      
                  </div>
              </div>            
             
          </div>
      </div>
    </div><!---cierre tab 5-->
   
    
  </div><!---cierre accordeon-->

</div><!---cierre centrado contenido-->
</ion-content>


